*{
    padding:0;
    margin:0;
}

.main-container{
    margin: 10vh;
}

.container{
    display:flex;
    flex-flow: row wrap;
}

.mapGridRow{
    display:flex;
    flex: 1 100%;
    flex-direction: row;
    margin:3px;
}

.mapSquare{
    height:50px;
    width:50px;
    outline: solid 1px rgb(126, 126, 126);
    margin:5px;
}

.chosenSquare{
    background-color: #f0bc68 ;
    height:50px;
    width:50px;
    outline: solid 1px rgb(126, 126, 126);
    margin:5px;
}



.playerOne{
    background-image: url(../assets/player1.jpg);
    background-size: cover;
}

#playerTwo{
    background-image: url(../assets/player2.jpg)
}